# Basic style
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ColumnLimit: 100

AlignOperands: true
AllowShortBlocksOnASingleLine: false
# AllowShortBlocksOnASingleLine: Empty
# ShortBlockStyle: Empty
BreakBeforeBraces: Custom
BraceWrapping:
	AfterFunction: true
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true
BinPackParameters: false

# Comments
AlwaysBreakTemplateDeclarations: Yes
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
